.contacto {
    height: auto;
    margin-top: 1rem;

    .contacto-titulo {
        background-color: var(--primario);
        padding: 8px;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
        }
    }

}

.contacto-container {

    .contacto-container-descrip {
        font-family: "Sour Gummy", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
        margin-left: 5rem;
        margin-top: 1rem;
        border-bottom: 1px solid var(--primario);
        padding-bottom: 1rem;
        width: 90%;
        text-align: center;
        color: var(--bordes);
    }

    .contacto-container-info {
        display: flex;

        .contacto-container-info-redes {
            width: 50%;
            height: 180px;



            .redes-titulo {
                font-size: 1.8rem;
                margin-left: 10rem;
                margin-top: 1.5rem;
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                color: var(--bordes);
            }

            .email {
                display: flex;
                width: 50%;
                margin-left: 13rem;
                margin-top: 1rem;


                ion-icon {
                    font-size: 1.3rem;
                    color: var(--bordes);
                }

                p {
                    font-size: 1.1rem;
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    color: var(--bordes);
                }
            }

            .redes {
                margin-left: 15rem;
                width: 50%;

                ion-icon {
                    font-size: 2rem;
                    border: 2px solid var(--primario);
                    padding: .2rem;
                    margin: 1rem;
                    border-radius: 10px;
                    background-color: var(--primario);
                    color: var(--bordes);
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:hover {
                        transform: scale(1) rotate(15deg) translateY(-5px);
                    }
                }

                a {
                    font-style: none;
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    color: var(--bordes);

                }
            }
        }

        .contacto-container-info-msj {
            width: 50%;
            height: 180px;
            overflow: hidden;

            .cotacto-container-info-msj-contenedor {
                margin: 1.5rem 11rem;
                padding: 10px 15px;
                width: 50%;
                border: 1px solid grey;
                border-radius: 15px;
                transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

                .-titulo {
                    font-size: 1.8rem;
                    font-style: inherit;
                    margin: .2rem 0rem;
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    color: var(--bordes);
                }

                .-descrip {
                    font-size: 1rem;
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    color: var(--bordes);
                }

                button {
                    border-style: none;
                    background-color: var(--primario);
                    border-radius: 6px;
                    width: 100%;
                    padding: .2rem;
                    margin: .5rem 0rem 0rem 0rem;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    animation: pulse 1s infinite;
                    color: var(--bordes);

                    &:hover {
                        box-shadow:
                            0 0 10px rgb(134, 93, 255),
                            0 0 20px rgb(134, 93, 255),
                            0 0 40px rgb(134, 93, 255);
                        border: 1px solid rgb(134, 93, 255);
                        color: rgba(76, 11, 78, 0.541);
                    }

                    &:active {
                        box-shadow:
                            0 0 10px rgb(134, 93, 255),
                            0 0 20px rgb(134, 93, 255),
                            0 0 40px rgb(134, 93, 255);
                        border: 1px solid rgb(134, 93, 255);
                        color: rgba(76, 11, 78, 0.541);
                    }

                    .-btn {
                        text-decoration: none;
                        color: var(--bordes);
                        font-size: 1rem;
                        margin-left: .8rem;
                        font-family: "Sour Gummy", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 300;
                        font-style: normal;

                    }

                    ion-icon {
                        font-size: 1.2rem;
                        color: var(--bordes);
                    }


                }

                &:hover {
                    transform: translateY(-12px) scale(1.02);
                }
            }
        }
    }
}

//RESPONSIVE
//CELUS PEQUES
@media screen and (max-width: 650px) {
    .contacto {
        .contacto-titulo {
            p {
                font-size: 1.2rem;
                padding: 2px;
            }
        }

    }

    .contacto-container {
        width: 100%;
        margin: 0;

        .contacto-container-descrip {
            width: 90%;
            margin: 1rem auto;
            font-size: 1rem;

        }

        .contacto-container-info {
            flex-direction: column;
            gap: 2rem;

            .contacto-container-info-redes {
                width: 90%;
                border-left: none;
                margin: 0 auto;
                overflow: hidden;
                border-bottom: 1px solid grey;

                .redes-titulo {
                    text-align: center;
                    transform: translate(-10.5rem, -1rem);
                    font-size: 1.5rem;
                    width: 100%;
                }

                .email {
                    transform: translate(-10rem, -.5rem);
                    width: 100%;
                }

                .redes {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .contacto-container-info-msj {
                margin: 0;
                width: 100%;

                .cotacto-container-info-msj-contenedor {
                    margin: 0 auto;
                    width: 80%;
                }
            }

        }

    }
}