.contacto {
    height: auto;
    margin-top: 1rem;

    .contacto-titulo {
        background-color: var(--primario);
        width: 35%;
        padding: 8px;
        border-radius: 0 20px 20px 0;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 13rem;
        }
    }

}

.contacto-container {

    .contacto-container-descrip {
        font-family: "Sour Gummy", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
        margin-left: 5rem;
        margin-top: 1rem;
        border-bottom: 1px solid var(--primario);
        padding-bottom: 1rem;
        width: 90%;
    }

    .contacto-container-info {
        display: flex;

        .contacto-container-info-redes {
            width: 50%;
            height: 180px;

            .redes-titulo {
                font-size: 1.8rem;
                margin-left: 10rem;
                margin-top: 1.5rem;
            }

            .email {
                display: flex;
                width: 50%;
                margin-left: 13rem;
                margin-top: 1rem;

                ion-icon {
                    font-size: 1.3rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            .redes {
                margin-left: 15rem;
                width: 50%;

                ion-icon {
                    font-size: 2rem;
                    border: 2px solid var(--primario);
                    padding: .2rem;
                    margin: 1rem;
                    border-radius: 10px;
                    background-color: var(--primario);
                    color: black;
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:hover {
                        transform: scale(1) rotate(15deg) translateY(-5px);
                    }
                }

                a {
                    font-style: none;

                }
            }
        }

        .contacto-container-info-msj {
            width: 50%;
            height: 180px;
            overflow: hidden;

            .cotacto-container-info-msj-contenedor {
                margin: 1.5rem 11rem;
                padding: 10px 15px;
                width: 50%;
                border: 1px solid grey;
                border-radius: 15px;
                transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

                .-titulo {
                    font-size: 1.8rem;
                    font-style: inherit;
                    margin: .2rem 0rem;
                }

                .-descrip {
                    font-size: 1rem;
                }

                button {
                    border-style: none;
                    background-color: var(--primario);
                    border-radius: 6px;
                    width: 100%;
                    padding: .2rem;
                    margin: .5rem 0rem 0rem 0rem;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    animation: pulse 1s infinite;

                    &:hover {
                        box-shadow:
                            0 0 10px rgb(134, 93, 255),
                            0 0 20px rgb(134, 93, 255),
                            0 0 40px rgb(134, 93, 255);
                        border: 1px solid rgb(134, 93, 255);
                        color: rgba(76, 11, 78, 0.541);
                    }

                    &:active {
                        box-shadow:
                            0 0 10px rgb(134, 93, 255),
                            0 0 20px rgb(134, 93, 255),
                            0 0 40px rgb(134, 93, 255);
                        border: 1px solid rgb(134, 93, 255);
                        color: rgba(76, 11, 78, 0.541);
                    }

                    .-btn {
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                        margin-left: .8rem;

                    }

                    ion-icon {
                        font-size: 1.2rem;
                    }


                }

                &:hover {
                    transform: translateY(-12px) scale(1.02);
                }
            }
        }
    }
}