.educacion {
    height: auto;

    .educacion-titulo {
        background-color: rgb(126, 80, 126);
        width: 25%;
        padding: 8px;
        border-radius: 20px 0 0 20px;
        position: relative;
        left: 55rem;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 5.5rem;
        }
    }

    .educacion-container {
        width: 90%;
        max-width: 900px;
        height: 300px;
        display: flex;
        margin: 3rem auto;
        align-items: center;
        overflow: hidden;

        ion-icon {
            font-size: 2rem;
            color: rgb(95, 95, 95);
            margin: 8rem 0;
            cursor: pointer;
        }

        .educacion-container-cardBox {
            width: 90%;
            height: 250px;
            background: #ffffff;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(86, 148, 108, 1) 50%, rgba(79, 110, 79, 1) 100%);
            margin: 1rem 1rem;
            border: 2px solid rgb(95, 95, 95);
            border-radius: 10px;
            display: flex;
            transition: transform 0.5s ease-in-out;
            overflow: visible;

            .educacion-container-card {
                width: calc(100% - 2rem); 
                flex-shrink: 0;
                display: flex;
                margin: 0 1.5rem;
                justify-content: space-around;
                margin-top: .5rem;

                img {
                    width: 30%;
                    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
                    margin: .5rem;

                }

                .educacion-container-card-titulos {

                    .educacion-container-card-titulos-1 {
                        font-family: "Sour Gummy", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 2.5rem;
                        margin: 1rem 0;
                    }

                    .educacion-container-card-titulos-2 {
                        font-family: "Sour Gummy", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 300;
                        font-style: normal;
                        font-size: 1rem;
                        margin: .5rem 10rem;
                    }

                    .barra-progreso {
                        border: 2px solid black;
                        border-radius: 10px;
                        width: 80%;
                        margin: 2rem 2rem;
                        display: flex;
                        justify-content: flex-end;

                        p {
                            font-family: "Sour Gummy", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 300;
                            font-style: normal;
                            font-size: 1rem;
                            margin: 0 .5rem;
                        }
                    }
                }

            }
        }
    }
}