footer{
    border-top: 1px solid var(--primario);
    padding: 1rem;
    margin: 1rem 2rem;
    p{
    margin-left:35rem ;
    margin-top: .5rem;
    }
}
//RESPONSIVE
//CELUS PEQUES
@media screen and (max-width: 480px) {
 footer{
    margin: 0;
    p{
        margin: 0 5rem;
        width: 100%;
    }
 }

}
