footer{
    border-top: 1px solid var(--primario);
    padding: 1rem;
    margin: 1rem 2rem;
    p{
    text-align: center;
    }
}
//RESPONSIVE
//CELUS PEQUES
@media screen and (max-width: 480px) {
 footer{
    margin: 0;
    p{
        margin: 0;
        width: 100%;
        text-align: center;
    }
 }

}
