.inicio {
    display: flex;

    .inicio-container {
        width: 55%;
        height: 550px;

        .inicio-container-titulo {
            width: 90%;
            transform: translate(4rem, 4rem);

            .inicio-container-titulo-nombre {
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 4.5rem;
                overflow: hidden;



                .estilo-soy {
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 200;
                    font-style: italic;
                    font-size: 3rem;

                    span {
                        font-family: "Meow Script", cursive;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 5rem;
                    }
                }

            }

            //Frase dinamica
            .frase {
                display: inline-block; 
                width: auto; 
                position: relative;
                font-family: "Jersey 20", sans-serif;
                font-size: 2rem;
                margin-left: 6rem;
                margin-top: .2rem;
                min-height: 2rem;
                color: var(--primario);
                text-shadow: 0 0 10px var(--primario);
                border-right: 3px solid var(--primario);
                padding-right: 5px;
                white-space: nowrap;
                animation: cursor-blink .7s step-end infinite;

            }


            .inicio-container-titulo-nombre-parrafo {
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 1.3rem;
                margin-top: .5rem;
                margin-left: 2rem;
            }

        }

        .inicio-container-button {
            margin: 6rem 16rem;
            height: 40px;
            width: 150px;
            border-radius: 10px;
            border: none;
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1rem;
            background-color: var(--primario);
            cursor: pointer;
            animation: pulse 1s infinite;

            &:hover {
                box-shadow:
                    0 0 10px rgb(134, 93, 255),
                    0 0 20px rgb(134, 93, 255),
                    0 0 40px rgb(134, 93, 255);
                transform: translateY(-2px);
                border: 1px solid rgb(134, 93, 255);
                color: rgba(76, 11, 78, 0.541);
            }

            &:active {
                box-shadow:
                    0 0 10px rgb(134, 93, 255),
                    0 0 20px rgb(134, 93, 255),
                    0 0 40px rgb(134, 93, 255);
                transform: translateY(-2px);
                border: 1px solid rgb(134, 93, 255);
                color: rgba(76, 11, 78, 0.541);
            }

            ion-icon {
                font-size: 1rem;

            }
        }
    }

    .inicio-animacion {
        width: 55%;
        height: 550px;
    }
}




//ANIMACIONES 

@keyframes typing {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes typing-new {

    0%,
    10% {
        width: 0;
    }

    40%,
    60% {
        width: 400px;
    }

    90%,
    100% {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}