.inicio {
    display: flex;

    .inicio-container {
        width: 55%;
        height: 550px;

        .inicio-container-titulo {
            width: 90%;
            transform: translate(2rem, 4rem);

            .inicio-container-titulo-nombre {
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 4.5rem;
                overflow: hidden;



                .estilo-soy {
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 200;
                    font-style: italic;
                    font-size: 3rem;

                    span {
                        font-family: "Meow Script", cursive;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 5rem;
                    }
                }

            }

            //Frase dinamica
            .frase {
                position: relative;
                font-family: "Jersey 20", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2rem;
                margin-left: 6rem;
                text-shadow: 0 0 5px rgb(134, 93, 255);

            }

            .frase.dinamica:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: var(--typing);
                border-left: 3px solid black;
                animation: typing 4s steps(12) infinite;
            }

            .inicio-container-titulo-nombre-parrafo {
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 1.5rem;
                margin-top: 2rem;
            }

        }

        .inicio-container-button {
            margin: 5rem 12rem;
            height: 40px;
            width: 150px;
            border-radius: 10px;
            border: none;
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1rem;
            background-color: var(--primario);
            cursor: pointer;
            animation: pulse 1s infinite;

            &:hover {
                box-shadow:
                    0 0 10px rgb(134, 93, 255),
                    0 0 20px rgb(134, 93, 255),
                    0 0 40px rgb(134, 93, 255);
                transform: translateY(-2px);
                border: 1px solid rgb(134, 93, 255);
                color: rgba(76, 11, 78, 0.541);
            }

            &:active {
                box-shadow:
                    0 0 10px rgb(134, 93, 255),
                    0 0 20px rgb(134, 93, 255),
                    0 0 40px rgb(134, 93, 255);
                transform: translateY(-2px);
                border: 1px solid rgb(134, 93, 255);
                color: rgba(76, 11, 78, 0.541);
            }

            ion-icon {
                font-size: 1rem;

            }
        }
    }

    .inicio-animacion {
        width: 55%;
        height: 550px;
    }
}




//ANIMACIONES 

@keyframes typing {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}