.proyectos {
    height: auto;

    .proyectos-titulo {
        background-color: rgb(126, 80, 126);
        padding: 8px;
        border-radius: 20px 0 0 20px;
        position: relative;
        left: 65rem;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 5.5rem;
        }
    }

    .proyectos-container {
        height: 600px;
        overflow: hidden;

        .proyectos-container-titulos {
            background-color: grey;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 80%;
            height: 50px;
            margin: 2rem 2rem 2rem 8rem;
            border-radius: 20px;

            button {
                width: 15%;
                height: 25px;
                margin: 0 1rem;
                border-radius: 8px;
                cursor: pointer;

            }
        }

        .proyectos-container-cards {
            //background-color: rgba(170, 170, 170, 0.808);
            height: 480px;
            width: 70%;
            margin-left: 12rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 20px;
            margin: 0 auto;

            .proyectos-container-cards-box {
                background-color: grey;
                width: 70%;
                height: 200px;
                margin: 0 5rem;
                transition: transform 1s ease, box-shadow 0.3s ease;
                animation: aparecerCard 1.5s ease forwards;
                cursor: pointer;

                .overlay-construccion {
                    background-color: rgba(49, 49, 49, 0.459);
                    height: 180px;
                    overflow: hidden;

                    ion-icon {
                        font-size: 2rem;
                        color: white;
                        position: relative;
                        left: 9rem;
                        top: 5rem;
                        animation: rotar 2s linear infinite;
                    }
                }

                .card-img {
                    background-color: plum;
                    height: 180px;
                    overflow: hidden;

                    img {
                        height: 180px;
                        object-fit: cover;
                    }
                }

                p {
                    margin: 0rem;
                }

                &:hover {
                    transform: scale(1.05) translateY(-5px);
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
                    filter: brightness(1.1);
                }
            }
        }
    }
}
.active{
    background-color: rgba(255, 0, 0, 0.603);
    border: 2px solid rgba(255, 0, 0, 0.623);
}


//animaciones
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
@keyframes aparecerCard {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}