.proyectos {
    height: auto;

    .proyectos-titulo {
        background-color: var(--primario);
        padding: 8px;
        border-radius: 20px 0 0 20px;
        position: relative;
        left: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
        }
    }

    .proyectos-container {
        height: 600px;
        overflow: hidden;

        .proyectos-container-titulos {
            background-color: var(--primario);
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 80%;
            height: 50px;
            margin: 2rem 2rem 2rem 8rem;
            border-radius: 20px;

            button {
                width: 15%;
                height: 25px;
                margin: 0 1rem;
                border-radius: 8px;
                cursor: pointer;
                border-style: none;
                transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                &:hover {
                    box-shadow:
                        0 0 10px rgb(134, 93, 255),
                        0 0 20px rgb(134, 93, 255),
                        0 0 40px rgb(134, 93, 255);
                    transform: translateY(-2px);
                    border: 2px solid rgb(134, 93, 255);
                    color: rgba(76, 11, 78, 0.541);
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }

        .proyectos-container-cards {
            height: 480px;
            width: 70%;
            margin-left: 12rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 20px;
            margin: 0 auto;

            .proyectos-container-cards-box {
                width: 80%;
                height: 200px;
                margin: 0 5rem;
                transition: transform 1s ease, box-shadow 0.3s ease;
                animation: aparecerCard 1.5s ease forwards;
                cursor: pointer;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .overlay-construccion {
                    background-color: rgba(49, 49, 49, 0.459);
                    height: 20vh;
                    overflow: hidden;

                    ion-icon {
                        font-size: 2rem;
                        color: white;
                        position: relative;
                        left: 45%;
                        top: 45%;
                        animation: rotar 2s linear infinite;
                    }
                }

                .card-img {
                    background-color: var(--primario);
                    height: 20vh;
                    width: 50vh;
                    overflow: hidden;

                    img {
                        height: 20vh;
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                    }
                }

                p {
                    margin: 0rem 1.5rem;
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 1rem;
                    color: var(--bordes);
                }

                &:hover {
                    transform: scale(1.05) translateY(-5px);
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
                    filter: brightness(1.1);
                }
            }
        }
    }
}

.active {
    box-shadow:
        0 0 10px rgb(134, 93, 255),
        0 0 20px rgb(134, 93, 255),
        0 0 40px rgb(134, 93, 255);
    transform: translateY(-2px);
    border: 2px solid rgb(134, 93, 255);
    color: rgba(76, 11, 78, 0.541);
}


//animaciones
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes aparecerCard {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//RESPONSIVE
//CELUS PEQUEÑOS
@media screen and (max-width: 650px) {
    .proyectos {
        .proyectos-titulo {
            margin-top: 2vh;
            position: relative;
            left: 71%;

            p {
                font-size: 1.2rem;
                margin: 0;
            }
        }

        .proyectos-container {
            .proyectos-container-titulos {
                margin: 1rem 0rem;
                width: 100%;

                button {
                    width: 35%;
                }

            }

            .proyectos-container-cards {
                margin: 0;
                padding: 0;
                width: 100%;
                grid-template-columns: 1fr;
                gap: 1rem;
                .proyectos-container-cards-box{
                    margin: .5rem 1.4rem;
                    width: 90%;
                    p{
                        margin: 0;
                    }
                }


            }
        }


    }



}