.skills {
    height: auto;

    .skills-titulo {
        background-color: var(--primario);
        padding: 8px;
        border-radius: 0 20px 20px 0;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 7rem;
        }
    }

    .skills-container {
        height: 510px;
        overflow: hidden;

        .skills-container-1 {
            width: 85%;
            height: 150px;
            margin: 1rem 0rem 0rem 5rem;
            display: flex;

            .skills-container-nombre {
                border-right: 2px solid var(--bordes);
                width: 20%;

                p {
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 1.5rem;
                    position: relative;
                    left: 3rem;
                    top: 3rem;
                    color: var(--bordes);
                }
            }

            .skills-container-lenguajes {
                width: 80%;
                display: flex;

                .skills-container-lenguajes-box {
                    border: 2px solid var(--bordes);
                    width: 25%;
                    height: 100px;
                    margin: 10px;
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-around;
                    border-radius: 20px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: rgba(182, 182, 182, 0.466);
                    }

                    .skills-container-box-img {
                        width: 50%;

                        img {
                            width: 55px;
                            margin-top: 1.2rem;
                            margin-left: 1rem;
                            transform: rotate(0);
                            transition: transform 0.5s ease-in-out;
                        }
                    }

                    p {
                        width: 50%;
                        height: 30px;
                        margin-top: 2rem;
                        font-family: "Sour Gummy", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 500;
                        font-style: normal;
                        font-size: 1.2rem;
                        color: var(--bordes);

                    }

                    &:hover img {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

//RESPONSIVE 
//CELUS PEQUES
@media screen and (max-width: 650px) {
    .skills {
        .skills-titulo {
            p {
                font-size: 1.2rem;
                margin-left: .2rem;
                padding: 2px;
            }
        }

        .skills-container {
            height: auto;
            .skills-container-1 {
                flex-direction: column;
                margin: 0;
                width: 100%;
                height: auto;
                
                .skills-container-nombre {
                    width: 90%;
                    margin-left: 2vh;
                    border-right: none;
                    border-bottom: 2px solid var(--bordes);
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    height: 5vh;
                    padding: 3px;

                    p {
                        width: 100%;
                        position: unset;
                        text-align: center;

                    }
                }

                .skills-container-lenguajes {
                    width: 100%;
                    flex-direction: column;
                    margin: 0;

                    .skills-container-lenguajes-box {
                        width: 90%;
                        height: 100%;
                        overflow: hidden;

                        .skills-container-box-img {
                            overflow: hidden;

                            img {
                                width: 25%;
                                margin: 1rem 2rem;
                            }
                        }

                        p {
                            font-size: 1.1rem;
                            margin: 0;
                            text-align: center;
                            position: relative;
                            top:2rem;
                            right: 4rem;
                            overflow: hidden;
                        }

                    }
                }
            }
        }

    }




}