.sobreMi {
    height: auto;

    .sobreMi-titulo {
        background-color: var(--primario);
        width: 25%;
        padding: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;

        p {
            font-family: "Sour Gummy", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 5.5rem;
        }
    }

    .sobreMi-container {
        display: flex;
        height: 500px;

        .sobreMi-container-texto {
            width: 50%;
            height: 500px;

            div {
                width: 90%;
                height: 420px;
                margin: 10px 20px;
                background-color: var(--primario);
                border-radius: 100px 200px 100px 200px;

                p {
                    font-family: "Sour Gummy", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 1rem;
                    margin: .8rem 4.5rem;
                }
            }

            .sobreMi-container-texto-cv {
                position: relative;
                left: 13rem;
                bottom: 1.8rem;
                height: 40px;
                width: 180px;
                border-radius: 10px;
                border: none;
                font-family: "Sour Gummy", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 1rem;
                background-color: var(--primario);
                cursor: pointer;
                animation: pulse 1s infinite;

                &:hover {
                    box-shadow:
                        0 0 10px rgb(134, 93, 255),
                        0 0 20px rgb(134, 93, 255),
                        0 0 40px rgb(134, 93, 255);
                    transform: translateY(-2px);
                    border: 1px solid rgb(134, 93, 255);
                    color: rgba(76, 11, 78, 0.541);
                }

                &:active {
                    box-shadow:
                        0 0 10px rgb(134, 93, 255),
                        0 0 20px rgb(134, 93, 255),
                        0 0 40px rgb(134, 93, 255);
                    transform: translateY(-2px);
                    border: 1px solid rgb(134, 93, 255);
                    color: rgba(76, 11, 78, 0.541);
                }

                ion-icon {
                    font-size: 1rem;
                }
            }
        }

        .sobreMi-container-img {
            width: 50%;
            height: 480px;
            margin: 5px;
            overflow: hidden;
            border-right: 1px solid var(--primario);

            img {
                width: 20rem;
                position: relative;
                left: 8rem;
                top: 1rem;
            }

        }
    }
}













//ANIMACIONES
@keyframes pulse {
    0% {
        background-color: var(--primario);
        transform: scale(1);
    }

    70% {
        box-shadow: 0 0 0 25px rgba(0, 123, 255, 0);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
        transform: scale(1);
    }
}