.btn-subir {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--primario);
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    &:hover {
        transform: translateY(-5px);
        filter: brightness(1.2);
    }
    &.mostrar {
    opacity: 1;
    visibility: visible;
}
}

