@charset "UTF-8";
/*--GLOABLES--*/
:root{
  --fondo: rgb(238, 238, 238);
  --primario:rgb(114, 106, 149);
  --estatico: rgb(127, 120, 153);
  --text: rgb(255, 255, 255);
  --header: radial-gradient(circle,rgba(204, 163, 200, 1) 0%, rgba(196, 180, 216, 1) 38%, rgba(235, 238, 240, 1) 100%);


}
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
  background-color: var(--fondo);
  .modal{
    background-color: rgb(82, 82, 82);
    height: 400px;
    width: 70%;
    position: fixed;
    left: 12rem;
    top: 9rem;
    display: none;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    animation: aparecerYCrecer .9s cubic-bezier(0.34, 1.56, 0.64, 1);
    ion-icon{
      font-size: 2rem;
      position: relative;
      left: 56rem;
      cursor: pointer;
    }
    .modal-img{
      width: 50%;
      img{
        width: 30%;
      }
    }
    .modal-info{
      width: 50%;
      p{

      }
      .modal-info-descrip{
        p{

        }
      }
      .modal-info-tec{
        display: flex;
        .badge{

        }
      }
    }
  }
}
body.dark{
  --fondo: rgb(55, 53, 62);
  --estatico: rgb(238, 238, 238);
  --text: black;
  --header: radial-gradient(circle,rgba(132, 150, 189, 1) 0%, rgba(138, 83, 138, 1) 37%, rgba(55, 53, 62, 1) 94%);
}
/*-- PARTICIONES--*/
@import "./fondo";
@import "./header";
@import "./inicio";
@import "./totoro";
@import "./sobreMi";
@import "./educacion";
@import "./skills";
@import "./proyectos";
@import "./contacto";
@import "./_footer.scss";



//animaciones del modal

@keyframes aparecerYCrecer {
  0% {
    opacity: 0;
    transform: scale(0.5); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}